* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: -webkit-fill-available;
}
body {
    height: -webkit-fill-available;
    background-color: #0b83af;
    font-family: "Fredoka", sans-serif;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
img, a {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: transparent;
    border-bottom-left-radius: 100vw;
    border-bottom-right-radius: 100vw;
}
::-webkit-scrollbar-thumb {
    background: rgb(225, 230, 230);
    border-top-left-radius: 100vw;
    border-top-right-radius: 100vw;
    border-bottom-left-radius: 100vw;
    border-bottom-right-radius: 100vw;
}
.phone-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.screen-container, .screen-div {
    position: relative;
}
.fingerprint {
    position: absolute;
    text-align: center;
    top: 68vh;
}
.fingerprint i {
    font-size: 58px;
    margin-top: 15px;
    touch-action: none;
}
.fingerprint i:hover {
    -webkit-filter: drop-shadow(3px 3px 3px rgb(0, 0, 0));
    filter: drop-shadow(3px 3px 3px rgb(0, 0, 0));
}
.fingerprint p {
    font-size: 16px;
    letter-spacing: 1px;
    -webkit-animation: infinite-lock-animation-horizontal 1s infinite both;
    animation: infinite-lock-animation-horizontal 1s infinite both;
}
@keyframes infinite-lock-animation-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
.lock-screen, .home-screen {
    height: 660px;
    width: 350px;
    border-radius: 30px;
    background: linear-gradient( 34deg, rgba(10, 139, 140, 1) 0%, rgba(255, 214, 0, 1) 100% );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    border: 10px solid rgb(0, 0, 0);
    box-shadow: 0px 0px 15px rgb(0 0 0 / 50%);
}
.services-nav {
    width: 100%;
}
.mts {
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
    margin-top: 5px;
}
.camera {
    background-color: rgb(0, 0, 0);
    height: 15px;
    width: 15px;
    border-radius: 15px;
    margin-top: -15px;
    margin-left: 48%;
}
.services-right-side {
    display: flex;
    float: right;
    margin-right: 10px;
    padding-right: 5px;
    width: 75px;
    margin-top: -15px;
    justify-content: space-between;
}
.services-right-side p {
    font-size: 12px;
    font-weight: 600;
}
.lock {
    text-align: center;
    margin-top: 5px;
}
.time-date {
    text-align: center;
    margin-top: 25%;
}
.time {
    font-size: 72px;
}
.date {
    font-size: 11px;
}
.wa-message-container {
    background-color: rgba(225, 230, 230, 0.7);
    height: 50px;
    width: 250px;
    margin-top: 10px;
    border-radius: 10px;
    margin-left: 40px;
    position: relative;
}
.wa-message {
    position: absolute;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 50px;
}
.wa-image {
    margin-top: 10px;
    margin-left: 10px;
}
.message {
    font-size: 10px;
    padding-top: 5px;
    padding-right: 25px;
}
.message-from {
    font-size: 11px;
    font-weight: 600;
    margin-top: 10px;
}
/* for change icon screen */
.camera-screen, .gallery-screen, .calculator-screen, .tictactoe-screen, .notes-screen, .phonecall-screen, .contacts-screen, .messages-screen, .settings-screen, .resume-screen {
    display: none;
    height: 660px;
    width: 350px;
    border: 10px solid rgb(0, 0, 0);
    border-radius: 30px;
    background: linear-gradient( 34deg, rgba(10, 139, 140, 1) 0%, rgba(255, 214, 0, 1) 100% );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 50%);
    overflow: hidden;
}
.tittle-sc {
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
}
.close-camera, .close-gallery, .close-calculator, .close-tictactoe, .close-notes, .close-phonecall, .close-contacts, .close-messages, .close-settings, .close-resume {
    margin-left: 300px;
    font-size: 25px;
}
.close-camera:hover, .close-gallery:hover, .close-calculator:hover, .close-tictactoe:hover, .close-notes:hover, .close-phonecall:hover, .close-contacts:hover, .close-messages:hover, .close-settings:hover, .close-resume:hover {
    color: #0b83af;
}
.time-p {
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
    margin-top: 5px;
}
.camera {
    height: 15px;
    width: 15px;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    margin-top: -15px;
}
.services-right-side {
    display: flex;
    float: right;
    justify-content: space-between;
    width: 75px;
    margin-right: 10px;
    margin-top: -15px;
    padding-right: 5px;
}
.services-right-side p {
    font-size: 12px;
    font-weight: 600;
}
/* home screen style */
.message-about-container {
    position: relative;
    height: 90px;
    width: 250px;
    margin-top: 15px;
    margin-left: 40px;
    background-color: rgba(225, 230, 230, 0.7);
    border-radius: 10px;
}
.message-about {
    position: absolute;
    left: 15px;
}
.message-about-p {
    font-size: 11px;
    padding-top: 10px;
}
.message-about-heading {
    font-size: 14px;
    font-weight: 600;
    max-width: 200px;
    margin-top: 10px;
}
.profile-image-wrapper {
    grid-area: widget;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 30px;
    background-color: rgba(225, 230, 230, 0.7);
    border-radius: 10px;
}
.profile-image {
    width: 110px;
    height: 220px;
    margin-top: 5px;
    border-radius: 10px;
}
.photo-p {
    margin-top: 3px;
    text-align: center;
    font-size: 11px;
}
.icons-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 320px;
    border-radius: 10px;
    gap: 10px 25px;
    padding: 20px 25px;
    grid-template-areas:
    ". . widget widget"
    ". . widget widget"
    ". . widget widget"
    ". . widget widget"
    ". . . .";
}
.icon-background {
    width: 55px;
    height: 55px;
    background-color: rgba(225, 230, 230, 0.7);
    border-radius: 15px;
}
.secondary-icon {
    width: 32px;
    margin-top: 5px;
    border-radius: 5px;
}
.icon-right-side {
    width: 130px;
    display: flex;
    justify-content: space-between;
}
.icon-p {
    font-size: 10px;
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
a {
    width: 55px;
    height: 55px;
}
.icons-btn {
    width: 55px;
    height: 55px;
    border-radius: 15px;
    border: none;
    background-color: transparent;
}
.icons-btn:hover img.secondary-icon {
    height: 25px;
    width: 25px;
    margin-top: 12px;
    transition: 100ms ease-in;
}
.camera-btn {
    width: 55px;
    height: 55px;
    border-radius: 15px;
    border: none;
    background-color: transparent;
}
.dots {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
    height: 5px;
}
.fill-dot {
    height: 7px;
    width: 7px;
    border-radius: 5px;
    background-color: rgb(225, 230, 230);
}
.dot {
    height: 7px;
    width: 7px;
    margin-left: 5px;
    border-radius: 5px;
    border: 1px solid rgb(225, 230, 230);
}
.main-icons {
    display: flex;
    margin-top: 30px;
    justify-content: space-evenly;
    justify-items: center;
}
.main-icon-property:hover {
    border: 3px solid transparent;
    border-radius: 30px;
    outline: none;
}
.main-icon-property {
    width: 50px;
    height: 50px;
}
/* camera section */
.camera-wrapper {
    text-align: center;
    background: rgba(225, 230, 230, 0.7);
    border-radius: 15px;
    margin-top: 150px;
    margin-left: 40px;
    margin-right: 40px;
}
.camera-p {
    padding: 5px 5px 5px 5px;
    max-width: 250px;
    font-size: 25px;
}
/* gallery section */
.pojects-container {
    height: 570px;
    margin-top: 5px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align:justify;
}
.project-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: rgba(225, 230, 230, 0.7);
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 15px;
}
.project-wrapper:hover .projects-overlay {
    display: block;
}
.projects-img-property {
    width: 100px;
    height: 55px;
    border-radius: 15px;
}
.projects-p {
    margin-top: 15px;
    margin-right: 20px;
    font-size: 18px;
}
.projects-overlay {
    display: none;
    position: absolute;
    text-align: center;
    width: 295px;
    height: 55px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}
.view-btn {
    background-color: transparent;
    border: 3px solid #0b83af;
    color: rgb(225, 230, 230);
    font-size: 16px;
    font-weight: 600;
    font-style: italic;
    border-radius: 10px;
    padding: 5px 3px 5px 3px;
    margin-top: 10px;
}
/* notes section */
.notes-div {
    text-align: left;
    background-color: rgba(225, 230, 230, 0.7);
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
}
.notes-p1, .notes-p2, .notes-p3, .notes-p4 {
    font-size: 16px;
    padding: 5px 5px 5px 5px;
    line-height: 25px;
}
.notes-p1 {
    font-weight: bold;
}
.notes-p2 {
    font-style: italic;
    padding-right: 3px;
    max-width: 400px;
}
/* calculator section */
.calculator-wrapper {
    height: 500px;
    margin: 0 10px 0 10px;
    margin-top: 30px;
}
.calculator-display {
    text-align: right;
    background-color: rgba(225, 230, 230, 0.7);
    border-radius: 15px;
}
.result {
    font-size: 14px;
    color: #0b83af;
}
.calc {
    font-size: 60px;
    margin-right: 5px;
}
.operators {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2);
}
.operators button {
    margin-top: 5px;
    height: 50px;
    font-size: 28px;
    border: 0;
    background-color: rgba(225, 230, 230, 0.7);
    border-radius: 10px;
}
.functions {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 5px;
}
.functions button {
    margin-top: 5px;
    height: 50px;
    font-size: 28px;
    border: 0;
    background-color: rgba(225, 230, 230, 0.7);
    border-radius: 10px;
}
.digits {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3, 1fr);
}
.digits button {
    height: 70px;
    font-size: 38px;
    border: 0;
    background-color: rgba(225, 230, 230, 0.7);
    border-radius: 10px;
}
.digits button:hover, .operators button:hover, .functions button:hover, .restart-button:hover, .numbers button:hover {
    background-color:#0b83af !important;
    -webkit-filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
    filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
}
/* Tic Tac Toe section */
.tictactoe-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.tictactoe-wrapper {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.cells {
    height: 80px;
    width: 80px;
    font-size: 42px;
    border: 2px solid rgb(225, 230, 230);
    background-color: transparent;
}
.cells:nth-child(1) {
    border-left: none;
    border-top: none;
}
.cells:nth-child(2) {
    border-top: none;
}
.cells:nth-child(3) {
    border-right: none;
    border-top: none;
}
.cells:nth-child(4) {
    border-left: none;
}
.cells:nth-child(6) {
    border-right: none;
}
.cells:nth-child(7) {
    border-bottom: none;
    border-left: none;
}
.cells:nth-child(8) {
    border-bottom: none;
}
.cells:nth-child(9) {
    border-right: none;
    border-bottom: none;
}
.cellX {
    color: rgb(225, 25, 25) !important;
}
.cellO {
    color: #0b83af !important;
}
.background {
    background-color: rgb(0, 255, 0);
}
.statusText {
    color: rgb(225, 230, 230);
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    font-style: italic;
}
.restart-btn-container {
    text-align: center;
    width: 100%;
}
.restart-button {
    height: 50px;
    font-size: 32px;
    padding: 5px 5px 5px 5px;
    border: 0;
    background-color: rgba(225, 230, 230, 0.7);
    border-radius: 10px;
    margin-top: 20px;
}
/* Phone Call section */
.phonecall-wrapper {
    height: 500px;
    margin: 0 10px 0 10px;
    margin-top: 30px;
}
.phonecall-display {
    text-align: center;
    height: 70px;
    background-color: rgba(225, 230, 230, 0.7);
    border-radius: 15px;
    margin-bottom: 20px;
}
.call-span {
    font-size: 24px;
    color: #0b83af;
}
.phone-number-p {
    font-size: 32px;
}
.phone-call-img-wrapper {
    position: relative;
    margin-top: 10px;
    height: 100px;
}
.phone-call-a {
    position: absolute;
    left: calc((310px - 64px) / 2);
    right: calc((310px - 64px) / 2);
    width: 64px;
    height: 64px;
    border-radius: 50px;
    cursor: pointer;
}   
.phone-call-img {
    width: 64px;
    height: 64px;
    border-radius: 50px;
}
.phone-call-img:hover {
    border: 5px solid transparent;
    -webkit-filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
    filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
}
.numbers {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}
.numbers button {
    height: 70px;
    font-size: 38px;
    border: 0;
    background-color: rgba(225, 230, 230, 0.7);
    border-radius: 10px;
    cursor: not-allowed;
}
/* Contacts section */
.contacts-wrapper {
    display: flex;
    position: relative;
    height: 50px;
    margin: 10px 20px 0 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: rgba(225, 230, 230, 0.7);
}
.contacts-wrapper p {
    margin: 15px 0 0 90px;
    font-size: 18px;
}
.contacts-wrapper img {
    position: absolute;
    width: 30px;
    height: 50px ;
    border-radius: 0 5px 5px 0;
}
.contacts-drop-wrapper {
    display: none;
    height: 400px;
    margin: 0 20px 0 20px;
    border-radius: 0 0 10px 0;
    background: rgba(225, 230, 230, 0.7);
}
.phone-call-contacts-wrapper {
    display: flex;
    justify-content: space-around;
    justify-items: left;
    margin: 10px 0 10px 0;
}
.phone-call-contacts-wrapper p {
    min-width: 80px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.contacts-call-a {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 1px 0 3px 0;
    width: 30px;
    height: 30px;
}
.contacts-call-a img {
    margin: 1px 0 3px 0;
    width: 30px;
    height: 30px;
}
.contacts-call-a img:hover {
    padding: 2px 2px 2px 2px;
}
.first-hr {
    margin: 0 80px 0 80px;
    background-color: #0b83af;
    opacity: 0.5;
    border-radius: 20px;
    height: 5px !important;
}
.hr {
    margin: 0 40px 0 40px;
    background-color: #0b83af;
    opacity: 0.3;
    border-radius: 10px;
    height: 3px !important;
}
.alphabet-wrapper {
    width: 20px;
    position: absolute;
    border-bottom-right-radius: 10px;
    margin: -50px 0 0 0;
    background-color: rgba(225, 230, 230, 0.7);
}
.alphabet-wrapper p {
    color: black;
    max-width: 5px;
    font-size: 18px;
    margin-left: 3px;
    letter-spacing: -3px;
}
.alphabet-wrapper p span {
    color: #0b83af;
}
/* Message section */
.first-message {
    width: 190px;
    margin: 30px 0 0 5px;
    border-radius: 10px 10px 10px 0;
    background-color: rgba(225, 230, 230, 0.7);
}
.first-message p {
    font-size: 14px;
    padding: 5px;
}
.second-message {
    float: right;
    width: 130px;
    margin: 10px 5px 0 0;
    border-radius: 10px 10px 0 10px;
    background-color: rgba(225, 230, 230, 0.7);
}
.second-message p {
    font-size: 14px;
    padding: 3px 0 3px 5px;
}
.message-form {
    display: none;
    margin: 80px 0 0 15px;
    border-radius: 20px;
    width: 90%;
    height: 300px;
    background-color: rgba(225, 230, 230, 0.7);
}
.message-form form {
    text-align: center;
}
.name-input {
    margin-top: 20px;
    font-size: 16px;
    background-color: transparent;
    border-bottom: 3px solid #0b83af !important;
    border: none;
    outline: none;
}
.email-input {
    margin-top: 20px;
    font-size: 16px;
    background-color: transparent;
    border-bottom: 3px solid #0b83af !important;
    border: none;
    outline: none;
}
.textarea {
    height: 160px;
    margin-top: 10px;
    padding: 2px;
    background-color: rgba(225, 230, 230, 1);
    border: 2px solid #0b83af;
    border-radius: 10px;
    resize: none;
    outline: none;
    font-size: 16px;
}
.submit {
    color: rgba(225, 230, 230, 1);
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
    padding: 5px 15px 5px 15px;
    outline: none;
    background-color: #0b83af;
    border: 1px solid #0b83af;
    transition: 300ms ease;
}
.submit:hover {
    color: #0b83af;
    border: 1px solid #0b83af;
    background-color: transparent;
}
.toggle-form-btn {
    cursor: pointer;
    position: absolute;
    width: 100px;
    height: 40px;
    font-size: 16px;
    top: 570px;
    left: 112px;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    font-weight: bold;
    color: rgba(225, 230, 230, 1) !important;
    border: 2px solid #0b83af !important;
    background-color: #0b83af !important;
    transition: 300ms ease;
}
.toggle-form-btn:hover {
    border: 2px solid #0b83af !important;
    background-color: transparent !important;
    border-radius: 20px;
}
/* Settings section */
.settings-wrapper {
    width: 100%;
}
.switch-wrapper {
    display: flex;
    position: relative;
    height: 40px;
    margin: 20px 20px 0 20px;
    border-radius: 10px;
    background: rgba(225, 230, 230, 0.7);
}
.switch-wrapper p {
    margin: 10px 70px 0 20px;
    font-size: 18px;
}
.change-bg-div {
    position: relative;
    margin: 10px 20px 0 20px;
    text-align: left;
    height: 50px;
    border-radius: 10px 10px 10px 10px;
    background: rgba(225, 230, 230, 0.7);
}
.settings-p-cw {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 18px;
}
.arrow-up {
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 18px;
    color: #0b83af;
}
.arrow-down {
    display: none;
    position: absolute;
    right: 20px;
    top: 15px;   
    font-size: 18px;
    color: #0b83af;
}
.colors-wrapper {
    display: none;
}
.colors-wallpaper {
    height: 425px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 20px 0 20px;
    border-radius: 0 0 10px 10px;
    background: rgba(225, 230, 230, 0.7);
}
.color-0 {
    height: 180px;
    width: 120px;
    margin: 15px 0 0 20px;
    border-radius: 20px;
    background: linear-gradient( 34deg, rgba(10, 139, 140, 1) 0%, rgba(255, 214, 0, 1) 100% );
}
.color-1 {
    height: 180px;
    width: 120px;
    margin: 15px 0 0 10px;
    border-radius: 20px;
    background: linear-gradient( 34deg, rgba(10, 139, 140, 1) 0%, rgba(0, 52, 255, 1) 100% );
}
.color-2 {
    height: 180px;
    width: 120px;
    margin: 0 0 0 20px;
    border-radius: 20px;
    background: linear-gradient( 34deg, rgba(0, 0, 0, 1) 0%, rgba(255, 0, 219, 1) 100% );
}
.color-3 {
    height: 180px;
    width: 120px;
    margin: 0 20px 0 10px;
    border-radius: 20px;
    background: linear-gradient( 149deg, rgba(255, 0, 215, 1) 0%, rgba(0, 255, 226, 1) 100% );
}
/* switch button */
.switch {
    margin-top: 5px;
}
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
}
.check {
    position: relative;
    display: block;
    height: 30px;
    width: 70px;
    background: #0b83af;
    cursor: pointer;
    border-radius: 30px;
    overflow: hidden;
    transition: ease-in 0.5s;
}
.check::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 26px;
    height: 26px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    transition: 0.5s;
}
input[type="checkbox"]:checked ~ .check::before {
    transform: translateX(-50px);
}
.check::after {
    content: '';
    position: absolute;
    top: 2px;
    right: 2px;
    width: 26px;
    height: 26px;
    background: rgb(0, 0, 0);
    border-radius: 50%;
    transition: 0.5s;
    transform: translateX(50px)
}
input[type="checkbox"]:checked ~ .check::after {
    transform: translateX(0);
}
/* Phone scrolling */
.Screens {
    display: inline-flex;
    transform: translate3d(0px, 0px, 0px);
    transition: 1s ease;
    touch-action: none;
}
.first-screen, .second-screen {
    width: 330px;
}
.dots-sc2 {
    display: flex;
    justify-content: center;
    margin-top: 510px;
    width: 100%;
    height: 5px;
}
.fill-dot-sc2 {
    height: 7px;
    width: 7px;
    margin-left: 5px;
    border-radius: 5px;
    background-color: rgb(225, 230, 230);
}
.dot-sc2 {
    height: 7px;
    width: 7px;
    border-radius: 5px;
    border: 1px solid rgb(225, 230, 230);
}
/* Resume section */
.resume-div {
    text-align: center;
    background: rgba(225, 230, 230, 0.7);
    border-radius: 15px;
    margin-top: 180px;
    margin-left: 40px;
    margin-right: 40px;
}
.resume-p {
    padding: 5px 5px 5px 5px;
    max-width: 250px;
    font-size: 25px;
}
/* Weather widget */
.weather-div {
    position: absolute;
    margin: 15px 0 0 15px;
    width: 300px;
    height: 60px;
    background: rgba(225, 230, 230, 0.7);
    padding: 28px 32px;
    overflow: hidden;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    transition: 0.6s ease-out;
}
.search-box {
    position: relative;
    margin-top: -20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-box input {
    width: 80%;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 32px;
    border: none;
    background: none;
    outline: none;
}
.search-box input::placeholder {
    font-size: 16px;
    font-weight: 500;
    color: #06283D;
    border: none;
    text-transform: capitalize;
}
.search-box button {
    cursor: pointer;
    width: 40px;
    height: 40px;
    color: #0b83af;
    background: rgba(225, 230, 230, 0.7);
    border-radius: 50%;
    border: 2px solid #0b83af;
    font-size: 18px;
    transition: 0.4s ease;
}
.search-box button:hover {
    color: #fff !important;
    background: #0b83af !important;
}
.search-box i {
    position: absolute;
    color: #0b83af;
    font-size: 28px;
}
.weather-box {
    text-align: center;
}
.weather-box img {
    width: 60%;
    margin-top: -20px;
}
.weather-box .temperature {
    position: relative;
    color: #06283D;
    font-size: 2rem;
    font-weight: 800;
    margin-top: 10px;
    margin-left: -16px;
}
.weather-box .temperature span {
    position: absolute;
    margin-left: 4px;
    font-size: 1.5rem;
}
.weather-box .description {
    color: #06283D;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}
.weather-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.weather-details .humidity, .weather-details .wind {
    display: flex;
    align-items: center;
    width: 50px;
    height: 60px;
}
.weather-details .humidity {
    padding-left: 20px;
    justify-content: flex-start;
}
.weather-details .wind {
    padding-right: 20px;
    justify-content: flex-end;
}
.weather-details i {
    color: #06283D;
    font-size: 16px;
    margin-right: 10px;
    margin-top: 6px;
}
.weather-details span {
    color: #06283D;
    font-size: 16px;
    font-weight: 500;
}
.weather-details p {
    color: #06283D;
    font-size: 14px;
    font-weight: 500;
}
.not-found {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    scale: 0;
    opacity: 0;
    display: none;
}
.not-found img {
    width: 70%;
}
.not-found p {
    color: #06283D;
    font-size: 16px;
    font-weight: 500;
    margin-top: 12px;
}
.weather-box, .weather-details {
    scale: 0;
    opacity: 0;
}
.fadeIn {
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}
@keyframes fadeIn {
    to {
        scale: 1;
        opacity: 1;
    }
}