* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: $black;
    font-family: $opensans;
    background-image: url("./img/stars-sky.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
::selection {
    background-color: $red;
}
span::selection {
    background-color: transparent;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background: $bgtextcolor;
    border-bottom-left-radius: 100vw;
    border-bottom-right-radius: 100vw;
}
::-webkit-scrollbar-thumb {
    background: $red;
    border-bottom-left-radius: 100vw;
    border-bottom-right-radius: 100vw;
}