* {
    background: linear-gradient(blue, green); 
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1 {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    text-shadow: 0px 0px 5px yellowgreen, 0px -5px 5px red;
    top: 7px;
}
#start-btn {
    font-family: 'Press Start 2P', cursive;
    font-size: 22px;
    color: red;
    border-color: green;
    border-radius: 40px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 40%;
    right: 40%;
}
#start-btn:hover {
    color: blue;
}
#gameContainer {
    text-align: center;
}
#gameBoard {
    border: 3px solid red;
}
#scoreText {
    font-family: 'Press Start 2P', cursive;
    font-size: 85px;
}
#resetBtn {
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    border-color: green;
    width: 125px;
    height: 40px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
}