//Colors
$white: #fff;
$black: #000;
$red: rgb(220, 10, 10);
$blue: rgb(0, 108, 255);
$lime: rgb(185, 255, 0);
$silver: rgb(227, 227, 227);
$purple: rgb(55, 0, 255);
$bgtextcolor: -webkit-linear-gradient(145deg, #a2fe73, #35fdb2);
$animations: hue 10s infinite linear;
$gradient: linear-gradient(to right, #161616 0%, rgb(219, 10, 10) 100%);
//Fonts
$opensans: 'Open Sans', sans-serif;
$courgette: 'Courgette', cursive;
$patrichand: 'Patrick Hand', cursive;
// Breakpoints
$xl: 1199px;
$lg: 991px;
$md: 767px;
$sm: 575px;