* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-image: url("images/rhcpbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
h1 {
    color: rgb(220, 10, 10);
}
p {
    color: #fff;
}
img {
    padding-top: 5px;
    width: 100px;
    height: 100px;
}
video {
    width: 40%;
}
i {
    position: absolute;
    float: right;
    right: 20%;
    top: 10%;
    font-size: 32px;
    color: #fff;
}
i:hover {
    color: rgb(220, 10, 10);
}
.rhcplogo {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 100%;
}
.ul-header {
    background-color: rgba(0, 0, 0, 0.6);
    list-style: none;
    height: 80px;
}
.ul-header li {
    display: inline-block;
    padding-left: 50px;
    margin-top: 20px;
}
.ul-header a {
    text-decoration: none;
}
.ul-header li p a {
    color: rgb(220, 10, 10);
    letter-spacing: 1px;
    text-decoration: none;
}
.ul-header li:nth-child(1) {
    margin-left: 150px;
}
.ul-header li:last-child {
    float: right;
    margin: 10px 10px 0 0;
}
.btn-header {
    font-size: 24px;
    padding: 5px;
    color: #fff;
    border: 3px solid rgb(220, 10, 10);
    background-color: #000;
    border-radius: 10px;
}
.btn-header:hover {
    color: rgb(220, 10, 10);
    border: 3px solid #fff;
    transition: 0.5s ease-in-out all;
    cursor: pointer;
}
.overlay {
    display: none;
    position: absolute;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
}
.list-container, .members-container {
    width: 100%;
    text-align: center;
    margin-top: 5%;
    display: none;
}
.table-container, .video-container {
    margin-top: 10%;
    width: 100%;
    text-align: center;
    display: none;
}
.list-container ol, .members-container ol {
    list-style-position: inside;
    list-style-type: disc;
    display: inline-block;
    text-align: left;
}
.list-container ol li, .members-container ol li {
    font-size: 34px;
    color: rgb(220, 10, 10);
}
.list-container ul, .members-container ul {
    list-style-type: square;
    display: inline-block;
    text-align: left;
}
.list-container ul li, .members-container ul li {
    font-size: 24px;
    color: #fff;
    padding-top: 10px;
}
table {
    display: inline-block;
}
table th {
    width: 30%;
    background-color: rgba(255, 255, 255, 0.7);
    border: 3px dotted rgb(220, 10, 10);
}
table td {
    color: #fff;
    font-size: 22px;
    border-bottom: 3px dotted rgb(220, 10, 10);
    border-left: 3px dotted rgb(220, 10, 10);
}
table td:nth-child(3) {
    border-right: 3px dotted rgb(220, 10, 10);
}
.tittle-animation {
    color: rgb(220, 10, 10);
    font-family: "Courgette", cursive;
    text-decoration: none;
    -webkit-text-decoration: border 2px solid rgb(220, 10, 10);
    text-decoration: border 2px solid rgb(220, 10, 10);
    text-transform: capitalize;
    cursor: pointer;
    font-size: 32px;
    font-weight: 500;
    position: relative;
    background-color: -webkit-linear-gradient(145deg, #a2fe73, #35fdb2);
    -webkit-animation: hue 10s infinite linear;
    animation: hue 10s infinite linear;
    border-radius: 5px;
}
.tittle-animation:hover, a:hover {
    text-decoration: underline;
}
@-webkit-keyframes hue {
    from {
    -webkit-filter: hue-rotate(0deg);
    }
    to {
    -webkit-filter: hue-rotate(-360deg);
    }
}
@keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}